<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Favicon -->
<link rel="shortcut icon" href="./img/svg/logo.svg" type="image/x-icon" />
<!-- Custom styles -->
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/main.min.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css" />
<title>CLEAN EXPERT | MIS CURSOS</title>
</head>
<body class="bg-light">
	<div class="page-flex">
		<!-- ! Sidebar -->
		<div th:replace="fragments/sidebarStudent :: sidebarStudent"></div>
		<div class="main-wrapper">
			<!-- ! Navbar -->
			<div th:replace="fragments/navbar :: navbar"></div>
			<!-- ! Only for table-->
			<div class="bg-primary mt-0 pb-4 position-absolute"
				style="height: 180px; width: 100%; z-index: -4"></div>
			<!-- ! Main -->
			<main class="main position-relative mt-5" id="skip-target">
				<div class="container ">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<!-- Page header -->
							<div>
								<div>
									<h3 class="mb-0 fw-bold text-white">Mis cursos</h3>
								</div>
								<div
									class="pb-3 mt-3 mb-3 d-flex align-items-center justify-content-between">
									<div style="width: 40%">
										<form class="d-flex"  th:action="@{/registration/buscarcursosinscritos}" th:object="${course}" >
											<input id="search" placeholder="Buscar por nombre de curso"
												 type="text" th:field="*{name}" class="form-control" />
											<button type="submit" class="btn btn-primary" >
												<i class="bi bi-search"></i>
											</button>
										</form>

									</div>
									<div>
										<a th:href="@{/registration/goRegister}" type="button"
											class="btn btn-light"> Matricularme </a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-5">

						<div class="col-md-6 col-sm-12 mb-4"
							th:each="i: ${listInscription}">

							<div class="card">
								<div class="card-body px-4 py-4">
									<div class="row">
										 <div class="col">
											  <h5 class="card-title" th:text="${i.course.name}"></h5>
											<p class="card-text"
												th:text="Docente+': ' + ${i.course.teacher.name}"></p> 
										</div> 
										<div class="col-sm-auto d-flex align-items-center">
											<a title="Eliminar"
												class="btn btn-danger rounded-circle me-2"
												th:href="@{'/registration/delete?id='}+${i.id_registration}"><i
												class="bi bi-trash"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ! Este mensaje muestras si no hay data-->
							<div th:if="${vacio ==1}">
								<p class="text-center fs-5">No tienes cursos matriculados</p>
							</div>
					</div>
				</div>
			</main>
		</div>
	</div>


	<script type="text/javascript" th:src="@{/js/feather.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

</body>
</html>
