<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<aside th:fragment="sidebarStudent" class="sidebar bg-dark">
		<div class="sidebar-start">
			<div class="sidebar-head">
				<a href="#" class="logo-wrapper" title="Home"> <img
					th:src="@{/img/logo.png}" alt="" height="50" />
				</a>
				<div class="sidebar-toggle bg-transparent" type="button">
					<span class="bi-list fs-5 text-white"></span> <span class="sr-only">Toggle
						menu</span>
				</div>
			</div>
			<div class="sidebar-body">
				<ul class="sidebar-body-menu list-unstyled">
					<li><a class="text-decoration-none" th:href="@{/registration/list}"><span
							class="icon bi bi-book-fill fs-5" aria-hidden="true"></span>Mis cursos</a></li>
					<li><a class="text-decoration-none" th:href="@{/student/view}"><span
							class="icon bi bi-person-circle fs-5" aria-hidden="true"></span> Mi perfil</a>
				</ul>
			</div>
		</div>
	</aside>
</body>
</html>